<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JoinForms</title>
    <script type="text/javascript">

        $(document).on('click', '#joinForm button', function (event) {
            event.preventDefault();

            var email = document.getElementById('joinEmail').value;
            var name =  document.getElementById('joinName').value;
            var password = document.getElementById('joinPassword').value;
            var confirmPassword =  document.getElementById('confirmPassword').value;

            console.log(email+" "+ name+" " +password+" "+ confirmPassword);

            if(email.trim() == "" || name.trim() == "" || password.trim() == ""){
                    console.log("필수값이 비었는데..");
            }else{
                if(!emailCheck(email)){
                    console.log("이메일 형식에 맞춰주세염ㅁ..");
                }else{
                    if(password!=confirmPassword){
                        console.log("비번이 맞지 않음 "); // 비번 일치 확인은 프론트에서만 하고 백에선 안햇듬;
                    }else{
                        signUp();
                    }
                }
            }
        });

        function signUp() {
            var signUpData = $('#joinForm').serialize();
            console.log("가입하려는 유저 "+signUpData);

            $.post('join', signUpData, function () {
                 window.location.reload();
            }).done(function () {
                alert("가입 성공");
            }).fail(function (da) {
                alert("가입 실패ㅠㅠ" + JSON.stringify(da));
            });
        }

    </script>
</head>
<body>
    <div id="joinDiv">
            <form id="joinForm">
                <span id="joinModalClose">&times;</span>

                <input type="email" id="joinEmail" name="email" placeholder="이메일" />
                <br/>
                <input type="text" id="joinName" name="name" placeholder="이름" />
                <br/>
                <input type="password" id="joinPassword" name="password" placeholder="비번" />
                <br/>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비번 확인" />
                <br/>
                <button type="submit" id="joinButton">가입하기</button>
            </form>
    </div>

</body>
</html>