<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>

    <script type="text/javascript">

        $(document).on('click', '#loginForm #loginButton', function (event) {
            alert("로그인~");
            event.preventDefault();
            var email = document.getElementById('loginEmail').value;
            var password = document.getElementById('loginPassword').value;
            console.log(email, password);

            if(email.trim() == "" || password.trim() == ""){
                console.log("이메일과 패스워드를 입력해주세요");
            }else{
               signIn(email);
            }
        });

        function signIn(email){
            var loginData= $('#loginForm').serialize();

            console.log(loginData);
            $.post('login', loginData, function () {

            }).done(function (data, textStatus, request) {
                console.log(email+" 로그인 성공 "+request.getAllResponseHeaders());
                sessionStorage.removeItem("currentUserToken");
                sessionStorage.removeItem("currentUserEmail");
                sessionStorage.setItem("currentUserToken", request.getResponseHeader("Authorization"));
                sessionStorage.setItem("currentUserEmail", email);

                window.location.reload();
            }).fail(function (data) {
                alert("로그인 실패ㅠㅠ" + JSON.stringify(data));
            });
        }



    </script>
</head>
<body>

<div id="loginDiv">
    <form id="loginForm">
        <input type="email" id="loginEmail" name="email" placeholder="이메일">
        <br/>
        <input type="password" id="loginPassword" name="password" placeholder="비번">
        <br/>
        <button id="loginButton" type="submit">로그인 하기 </button>
    </form>
</div>

    <button type="button" id="toJoinForm">회원 가입</button>

</body>
</html>