<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginStatus</title>
    <script type="text/javascript">
        $(document).on('click', '#logout #logoutButton', function (event) {
            event.preventDefault();
            sessionStorage.removeItem("currentUserToken");
            sessionStorage.removeItem("currentUserEmail");
            window.location.reload();
        });

        function logout(){
            //ajax로 로그아웃해서 토큰 무효화해주기~
        }

    </script>
</head>
<body>

    <label id="currentUserEmail"></label>
    님 웰컴..ㅎ
    <button type="button" id="logoutButton">Logout</button>

</body>
</html>