<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CommentWrite</title>
    <script type="text/javascript">

    $(document).on('click', '#commentWriteButton', function(event){
    		event.preventDefault();
    		console.log("comment registrate~~");
    		
    		var commentData = CKEDITOR.instances.commentContent.getData();
    		var commentWriteData =JSON.stringify({
    			'commentWriterEmail': sessionStorage.getItem('currentUserEmail'),
    			'commentContent': commentData	
    		});
    		
    		writeComment(commentWriteData);
    		
    });
    
    function writeComment(commentWriteData){
   	 	
   	 	var currentPostIdx =  $('#postDetail #postIdxSpan').val();
   	 	
   	 	
   	 console.log("sending data "+commentWriteData+" and currentPostIdx is "+currentPostIdx);
   	 	
        $.ajax({
            url: 'http://localhost:8080/bbs/'+currentPostIdx+'/comment',
            type: 'post',
            headers: {'token': sessionStorage.getItem('currentUserToken')},
            data: commentWriteData,
            contentType: 'application/json; charset=utf-8',
            success: function(data){
                console.log("등록 성공.."+data);
                showDetail(currentPostIdx);
                CKEDITOR.instances['commentContent'].setData('');

            },
            error: function(data){
                alert(" 등록 실패 : "+data['responseJSON']['message']);
                window.location.reload();
            }
        });

   	 	
    }
    

    
    </script>

</head>
<body>
<form id="conmmentWriteForm">
    <textarea name="commentContent" id="commentContent" ></textarea>
    <button type="submit" id="commentWriteButton">코멘트 등록</button>
</form>
</body>
</html>