<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>commentList</title>
    <script>




    </script>
</head>
<body>

코멘트 리스트

<div id="comments"></div>
<!--<div id="comments">
    코멘트 이렇게 가져와서..

    <span id="commentIdxSpan" hidden></span>

    <span id="commentWriterSpan" class="detailComment"></span>   &lt;!&ndash;작성자&ndash;&gt;
    <br/>


    <div class="detail" id="detailForCommentContent"></div>
    <div id="editCommentTextArea" hidden>
        <textarea  name="commentContent" id="commentEditContent"></textarea>
    </div>



    <span class="detailComment"></span> &lt;!&ndash;작성 시간&ndash;&gt;
    <br/>

</div>

<div id="writerOnlyForComment">
    <a href="" id="deleteComment">삭제</a>
    <a href="" id="editComment">수정</a>
</div>-->




</body>
</html>