<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


    </style>
    <script>

    
    function showDetail(idx){

        document.getElementById('detailPage').style.display='block';
        $.getJSON('http://localhost:8080/bbs/' + idx, function (data) {
            console.log(idx+'번의 데이터(코멘트 포함)'+JSON.stringify(data));

            if(currentUserEmail == data[0].postWriter.email){ //로그인한 사람이 해당글의 작성자일때만 수정 삭제 띄움
               $('#writerOnly').show();
            }else{
                $('#writerOnly').hide();
            }

            //detail
            $('#postDetail #postIdxSpan').val(data[0].postIdx);
             $('#postDetail .detail').eq(0).text(data[0].title);
             $('#postDetail .detail').eq(2).text(data[0].postWriter.email+"("+data[0].postWriter.name+")");
             $('#postDetail .detail').eq(4).text(data[0].postTime);
             $('#postDetail #detailForPostContent').html(data[0].postContent);

             //edit
            $('#postDetail input').eq(2).val(data[0].postTime);
            $('#postDetail input').eq(0).val(data[0].title);
            $('#postDetail input').eq(1).val(data[0].postWriter.email);
            $('#postDetail input').eq(2).val(data[0].postTime);
            CKEDITOR.instances['postEditContent'].setData(data[0].postContent);



            //코멘트
            var commentObj='<div class="well  well-sm">총 '+data[1].length+'개의 코멘트가 있습니다..</div>';

            $(data[1]).each(function(num, ele){
            console.log(ele.content +"이거 commentContent 로 들어와야하는데 왜 그냥 content 들어오는것..?");
            	
                commentObj += ' <span hidden >'+ele.commentIdx+'</span>'
                        +'  <span>'+ele.commentWriter.email+'</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                    +'<span>'+ele.commentTime+'</span>';
                      

                 if(currentUserEmail == ele.commentWriter.email){ //로그인한 사람이 해당글의 작성자일때만 수정 삭제 띄움
                      commentObj +=  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="cursor:pointer; "  class="editCommentsClass glyphicon glyphicon-pencil" title="'+ele.commentIdx+'">수정</a>'
                            	+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a onclick="javascript:deleteComment('+data[0].postIdx+', '+ele.commentIdx+')" style="cursor:pointer;" class="glyphicon glyphicon-remove">삭제</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                    }

/* //on click comment functions
        	//코멘트 수정
       $(document).on('click', '.editCommentsClass', function(event){
    	   	console.log("코멘트 수정 클릭! "+this.title); 
    	   	
       		$('.editCommentsClass').each(function(){
       		var eachMyComment = this.nextElementSibling.nextElementSibling.nextElementSibling;
       			console.log("모든 코멘트 수정창 숨기기 ");
       			eachMyComment.style.display='none';
       		});
       		
    		if(CKEDITOR.instances['commentEditContent'] != undefined){
   				alert("에디터가 언디파인이 아니다"+CKEDITOR.instances.commentEditContent);
   				//CKEDITOR.instances['commentEditContent'].destroy();
   				CKEDITOR.remove(CKEDITOR.instances['commentEditContent']);
   			}
    		
	  		var commentClicked=this.nextElementSibling.nextElementSibling.nextElementSibling;//클릭한 코멘트의 수정폼을 싼 div
	   		// 수정폼을 보여주는데, 수정 버튼 엘리먼트를  this 로 잡고 폼을 노드로 잡아서 보여주면...되지 않을까?
	   				
	   		var commentContentClicked=this.nextElementSibling.nextElementSibling.innerHTML;

        	   commentClicked.style.display='block';
        	   commentClicked.children[0].setAttribute('id', 'commentEditContent');   
        	   
        	   	CKEDITOR.replace( "commentEditContent", {
                   	height: 100 
                   } );
        	   	
        	    CKEDITOR.instances['commentEditContent'].setData(commentContentClicked);
        	   	commentClicked.children[0].removeAttribute('id');
        	  
        	   	
    		   $(document).on('click', commentClicked.children[1], function(event){
    			   event.preventDefault();
    	   			alert("수정보내기!");

        	   	CKEDITOR.instances.commentEditContent.destroy(); //수정하고 나면 맆 수정 에디터 재사용을 위해 디스트로
    	   		commentClicked.style.display="none";
        	   	
        	   		showDetail(data[0].postIdx);
        	   	
    	   		});
    	   	
       }); */

              commentObj +=   '<div>'+ele.content+'</div>'
                        +'<div hidden><textarea name="commentContent"></textarea><a style="cursor:pointer; background-color:#aaaaaa ; color: #fefefe">댓글 수정하기</a></div><br/><br/>';
                  
            }); //코멘트 리스트 정보 가져오기 end
            $('#comments').html(commentObj);


        });

    }
    
    
        $(document).on('click', '#deletePost', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:8080/bbs/'+$('#postDetail #postIdxSpan').val(),
                headers: {'token': localStorage.getItem('currentUserToken')},
                success: function () {
                    console.log("delete complete~");
                    alert("삭제되었습니다");
                    window.location.reload();
                },
                error: function (data) {
                    alert(" 삭제 실패 : "+data['responseJSON']['message']);
                    window.location.reload();
                },
                complete: function (data) {
                    //   alert(JSON.stringify(data)+" 삭제 결과");
                }
            });
        });

    </script>
</head>
<body>

<div id="postDetail">
        <span id="postIdxSpan" hidden></span>
      
	       	 <h4> 
		        <span class="detail"></span>
	     	  </h4>
	        <input type="hidden" id="title" name="title"/>

 			<label  class="detail">작성자 : </label>
		   	 <span id="postWriterSpan" class="detail"></span>
		    <br/>
		
		    <label  class="detail">작성일 : </label>
		    <span class="detail"></span>
		    <br/> <br/>

    <div class="detail" id="detailForPostContent"></div>
    <div id="editTextArea" hidden>
        <textarea  name="postContent" id="postEditContent"></textarea>
   </div>

    <br/>
</div>
    <div id="writerOnly" class=" text-right">
        <a style="cursor:pointer;" class="glyphicon glyphicon-pencil" id="deletePost">글삭제</a>
        <a style="cursor:pointer;" class="glyphicon glyphicon-trash" id="editPost">글수정</a>
    </div>

</body>
</html>