<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pilot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
    <style type="text/css">

        /* The Modal (background) */
        #joinModal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        #joinDiv {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        #joinModalClose {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        #joinModalClose:hover,
        #joinModalClose:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /*  상단 여백 10px  */
        #paging ul{padding-top:30px;}

        #paging ul li {

            display:inline;                /*  세로나열을 가로나열로 변경 */
            border-left:1px solid #999;    /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
            padding:0 10px;                /* 각 메뉴 간격 */
        }

        /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */
        #paging ul li:first-child{border-left:none;}





    </style>
    <script type="text/javascript">

        var postNumPerPage=5;
        var pageNumPerPage=3;
        var currentUserToken;
        var currentUserEmail;

        window.onload=function(){
            CKEDITOR.replace( 'postContent' ); //postWriteForm Editor activating
            CKEDITOR.replace( 'postEditContent' );
            CKEDITOR.replace( 'commentContent', {
                height: 100
            } );
 /*           CKEDITOR.replace( 'commentEditContent', {
                height: 100
            } );*/

            currentUserToken = sessionStorage.getItem("currentUserToken");
            currentUserEmail = sessionStorage.getItem("currentUserEmail");

            console.log("현재 로그인 된 이용자의 토큰! "+currentUserToken);
            console.log("현재 로그인 된 이용자의 메일! "+currentUserEmail);


            if(currentUserToken==null){
                document.getElementById('logout').style.display='none';
                document.getElementById('login').style.display='block';
            }else{
                $('#currentUserEmail').text(currentUserEmail);
                document.getElementById('login').style.display='none';
                document.getElementById('logout').style.display='block';
            }

            bbs(1);

            /* 	if(('localStorage' in window)&& window['localStorage']!==null){
                        alert('로컬 스토리지 지원!');
                    }else{
                        alert('로컬 스토리지 지원 안함');
                    }
                if(('sessionStorage' in window)&& window['sessionStorage']!==null){
                        alert('세션 스토리지 지원!');
                    }else{
                        alert('세션 스토리지 지원 안함');
                    }
                 */
            //	};

            // console.log("ajax1");
            // var xhttp = new XMLHttpRequest();
            //
            // xhttp.onreadystatechange = function() {
            //     console.log("ajax2");
            //   if (xhttp.readyState == 4){ //} && xhttp.status == 200) {
            //       console.log(xhttp.status+" ajax3");
            // 		if(xhttp.status == 200){
            //             console.log("ajax4");
            //     document.getElementById("demo").innerHTML =
            //     	xhttp.getAllResponseHeaders();
            // 		}
            //   }
            // };
            //
            // xhttp.open("GET", "/bbs", true); //무효한 메일인데 프론트에서 에러 메시지 디스플레이가  안됨 ㅠ0ㅠ..
            // console.log("ajax5");
            // xhttp.send();
            // console.log("ajax6");




            //상세 화면
            document.getElementById('detailPage').style.display='none';
            //리스트에서 상세 클릭시 보이기..


            //글쓰기 화면
           var writeAPost =   document.getElementById('postWrite');
            writeAPost.style.display='none';

            $(document).on('click', '#toPostWriteForm', function (event) {
                event.preventDefault();
                writeAPost.style.display = "block";
                document.getElementById('bbs').style.display='none'; //이거 왜 변수로 빼면 안먹히는걸까..? 펑션 내부 항목을 포함하고 있어서?

            });





            //joinModal 관련
            var joinModal = document.getElementById('joinModal');
            joinModal.style.display='none';
            $(document).on('click', '#toJoinForm', function (event) {
                event.preventDefault();
                joinModal.style.display = "block";
            });

            //modal x 클릭시 닫음
            var joinModalClose = document.getElementById('joinModalClose');
            joinModalClose.onclick=function(){
                joinModal.style.display = "none";
            };

            //modal 외부 클릭시 닫음
            window.onclick = function(event) {
                if (event.target == joinModal) {
                    joinModal.style.display = "none";
                }
            };


        }; //window.onload  ends




        //포스트 수정...수정 html 에서 하려면 ACKEDITOR 때문에 홈에서..
        var showPostEdit=true;
        $(document).on('click',  '#editPost', function (event) {
            event.preventDefault();
            if (showPostEdit) {
                $('#postDetail input').attr('type', 'text');
                $('#postDetail div').show();
                $('.detail').hide();
            } else {
                $('#postDetail input').attr('type', 'hidden');
                $('#postDetail div').hide();
                $('.detail').show();
                editPost();
            }
            showPostEdit = !showPostEdit;
        });


        function editPost() {
            event.preventDefault();

            var editingPostIdx = $('#postDetail #postIdxSpan').val();
            var editingPostData = JSON.stringify({
                'postIdx': editingPostIdx,
                'title': $('#postDetail #title').val(),
                'postContent': CKEDITOR.instances.postEditContent.getData()
            });
            console.log("수정된 포스트 "+editingPostData);

            $.ajax({
                url: 'http://localhost:8080/bbs/'+ editingPostIdx,
                type: 'put',
                headers: {'token': sessionStorage.getItem('currentUserToken')},
                data: editingPostData,
                contentType: 'application/json; charset=utf-8',
                success: function(data){
                    alert("수정 성공..");
                    window.location.reload();

                },
                error: function(data){
                    alert("등록 실패 "+JSON.stringify(data));
                }
            });

        }



        function showDetail(idx){

            document.getElementById('detailPage').style.display='block';
            $.getJSON('http://localhost:8080/bbs/' + idx, function (data) {
                console.log(idx+'번의 데이터(코멘트 포함)'+JSON.stringify(data));

                if(currentUserEmail == data[0].postWriter.email){ //로그인한 사람이 해당글의 작성자일때만 수정 삭제 띄움
                   $('#writerOnly').show();
                }else{
                    $('#writerOnly').hide();
                }

                //detail
                $('#postDetail #postIdxSpan').val(data[0].postIdx);
                 $('#postDetail .detail').eq(0).text(data[0].title);
                 $('#postDetail .detail').eq(2).text(data[0].postWriter.email+"("+data[0].postWriter.name+")");
                 $('#postDetail .detail').eq(4).text(data[0].postTime);
                 $('#postDetail #detailForPostContent').html(data[0].postContent);

                 //edit
                $('#postDetail input').eq(2).val(data[0].postTime);
                $('#postDetail input').eq(0).val(data[0].title);
                $('#postDetail input').eq(1).val(data[0].postWriter.email);
                $('#postDetail input').eq(2).val(data[0].postTime);
                CKEDITOR.instances['postEditContent'].setData(data[0].postContent);



                //코멘트

                var commentObj="총 "+data[1].length+"개의 코멘트가 있습니다..<br/><br/>";

                $(data[1]).each(function(num, ele){
                    commentObj += ' <span hidden >'+ele.commentIdx+'</span>'
                            +'  <span>'+ele.commentWriter.email+'</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                        +'<span>'+ele.commentTime+'</span>'
                            +'<div>'+ele.commentContent+'</div>'

                             if(currentUserEmail == ele.commentWriter.email){ //로그인한 사람이 해당글의 작성자일때만 수정 삭제 띄움
                                 commentObj += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="cursor:pointer; background-color:#aaaaaa ; color: #fefefe" id="deletePost">삭제</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                     +'<a style="cursor:pointer; background-color:#aaaaaa ; color: #fefefe"  id="editPost">수정</a>';
                             }


                    commentObj += '<br/><br/>';


                });
                $('#comments').html(commentObj);

                // for(var i=0; i<data[1].length; i++){
                //     // console.log(data[1][i].commentIdx+"가져오는 코멘트 리스트들?");
                //     //
                //     // $('#commentIdxSpan').val(data[1][i].commentIdx);
                //     //
                //     //
                //     // if(currentUserEmail == data[1][i].commentWriter.email){ //로그인한 사람이 해당글의 작성자일때만 수정 삭제 띄움
                //     //     $('#writerOnlyForComment').show();
                //     // }else{
                //     //     $('#writerOnlyForComment').hide();
                //     // }
                //
                // }


            });

        }


/*
        function getCommentList(idx){ //작성자 확인때문에 그냥 홈에서..  js로 만들어서 link 거는게 나은가?
            //comment 목록 / 상세보기 글에 해당하는 코멘트만 가져옴 // 코멘트 리포지토리 단에서 페이징에 문제있어서 페이징 기능 제외하고 그냥 다 불러오는걸로
            alert("가져올 코멘트 해당 포스트의 인덱스 "+idx);


        }*/


        function bbs(currentPage){
            //bbs 목록
            var listObj = "";
            $.getJSON('http://localhost:8080/bbs?page='+currentPage+'&elementsNumberForOnePage='+postNumPerPage, function (data) {

                $(data['posts']).each(function (num, ele) {//첫번째 인자가 인덱스, 두번째 인자가 엘리먼트
                    listObj += '<tr style="cursor:pointer;" onclick="javascript:showDetail('+ele.postIdx+')" onmouseover="this.style.backgroundColor=\'#f1f1f1\'" onmouseout="this.style.backgroundColor=\'#ffffff\'"'
                        +'><td hidden="hidden">' + ele.postIdx + '</td>'
                        + '<td>' + ele.title
                        + '</td><td>'
                        + ele.postWriter.email + '</td>'
                        + '<td>' + ele.postTime + '</td></tr>';
                });

                $('#bbsTable tbody').eq(1).html(listObj);


                console.log("현재 페이지"+currentPage);

                //bbs 페이지네이션
                console.log('토탈 포스트'+ data['totalPost']);
                var totalPost = data['totalPost'];
                var totalPage = parseInt(totalPost/postNumPerPage);
                if (totalPost%postNumPerPage!=0){totalPage = totalPage+1;}

                var startPage =1;
                if(currentPage>pageNumPerPage){startPage= currentPage-(currentPage%pageNumPerPage)+1;}

                var endPage = startPage+pageNumPerPage-1;
                if(endPage>=totalPage){endPage=totalPage;}

                console.log('토탈 페이지 '+totalPage);

                var pagingObj="";
                if(startPage!=1){
                    pagingObj+='<li><a style="cursor:pointer;" onclick="javascript:bbs('+(endPage-1)+')"> < </a></li>';
                }

                for(var i=startPage; i<=endPage; i++){
                    if(i==currentPage){
                        pagingObj+='<li><b>'+i+'</b></li>';
                    }else{
                        pagingObj+='<li><a style="cursor:pointer;" onclick="javascript:bbs('+i+')">'+i+'</a></li>';
                    }
                }
                if(endPage != totalPage){
                    pagingObj+='<li><a style="cursor:pointer;" onclick="javascript:bbs('+(endPage+1)+')"> > </a></li>';
                }

                $('#paging ul').eq(0).html(pagingObj);

            });

        } // showing bbs list end



        function emailCheck(str){
            var regExp = /[0-9a-zA-Z][_0-9a-zA-Z-]*@[_0-9a-zA-Z-]+(\.[_0-9a-zA-Z-]+){1,2}$/; //여기 백하고 밸리데이션 맞춰야함;
            if (!str.match(regExp)){return false;}
            return true;
        }


    </script>
</head>
<body>

<p th:text="${new java.util.Date().toString()}"></p>

<div id="aside">
    <div id="login" th:include="header/login"></div>
    <div id="logout" th:include="header/logout"></div>
</div>

<div id="joinModal" th:include="header/join"></div>

<div id="detailPage">
    <div id="postDetailPage" th:include="bbs/detail"></div>
    <div id="commentList" th:include="bbs/commentList"></div>
    <div id="commentWrite" th:include="bbs/commentWrite"></div>
</div>


<div id="postWrite" th:include="bbs/write"></div>


<div id="bbs">
    <table id="bbsTable">
        <tr>
            <th>제목</th><th>글쓴이</th><th>작성시간</th>
        </tr>
        <tbody></tbody>
    </table>


    <div id="paging">
        <ul></ul>
    </div>
    <a style="cursor:pointer; background-color:#888888 ; color: #fefefe" id="toPostWriteForm">글쓰기..</a>

</div>

<a href="" id="toBbs">목록으로</a>

</body>
</html>